<!-- This example requires Tailwind CSS v2.0+ -->
<div class="flex flex-col">
  <div class="-my-2 sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="table-fixed min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th scope="col" class="px-2 pl-16 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Climb
              </th>
              <th scope="col" class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Comment
              </th>
              <th scope="col" class="px-2 py-2 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Date
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <%sends.each do |send|%>
              <tr>
                <td class="px-2 py-2">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src=<%=send[:profile_pic]%> alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-xs text-gray-900">
                        <%=send[:realname]%>
                      </div>
                      <div class="text-sm font-medium text-gray-900">
                        <%=send[:name]+", "+send[:grade]%>
                          <span>
                            <%case send[:send_type]%>
                            <%when "redpoint"%>
                                <span class="px-2 text-xs inline-flex font-semibold rounded-full bg-red-100 text-red-800"><%=send[:send_type].capitalize%></span>
                            <%when "flash"%>
                                <span class="px-2 text-xs inline-flex font-semibold rounded-full bg-gray-200 text-gray-800"><%=send[:send_type].capitalize%></span>
                            <%when "onsight"%>
                                <span class="px-2 text-xs inline-flex font-semibold rounded-full bg-yellow-100 text-yellow-800"><%=send[:send_type].capitalize%></span>
                            <%end%>
                          </span>
                      </div>
                      <div class="text-xs text-gray-500">
                        <%parents_str = ""%>
                        <%send[:area_parents].each do |parent|%>
                          <%parents_str += parent + " > "%>
                        <%end%>
                        <%=parents_str + send[:area_name]%>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-2 py-2 ">
                  <div class="text-xs text-gray-500 italic"><%=send[:comment]%></div>
                </td>
                <td class="px-2 py-2 whitespace-nowrap text-sm text-gray-500">
                  <%=send[:date]%>
                </td>
              </tr>
            <%end%>
            <!-- More people... -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
