<% if @followee.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@followee.errors.count, "error") %> prohibited this followee from being saved:</h2>
 
    <ul>
    <% @followee.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: @followee, class: "w-48 text-left text-xs font-medium text-gray-500 uppercase tracking-wider" do |form| %>
    <%= form.text_field :username, class: 'border-none h-12 w-48 text-left text-sm placeholder-italic placeholder-gray-500 text-gray-900', placeholder:"Add new followee..."%><br>
    <%= form.submit "Submit", class: 'border-none w-48 text-center text-sm text-blue-500'%>
<%end%>